@model PagedResultModel<PostModel>

@{
    ViewData["Title"] = "Posts";
}

<h1>@ViewData["Title"]</h1>

<div>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="check-circle-fill" viewBox="0 0 16 16">
            <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
        <symbol id="info-fill" viewBox="0 0 16 16">
            <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
        </symbol>
        <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>
    <div class="noti">
        @* <div class="alert alert-primary d-flex align-items-center" role="alert">
            <svg height="20" width="20" class="bi flex-shrink-0 me-2" role="img" aria-label="Info:">
                <use xlink:href="#info-fill" />
            </svg>
            <div>
                New Post!!!!
            </div>
        </div> *@
    </div>
    <form action="/Posts" class="input-group mb-3" method="get">
        <span class="input-group-text" id="inputGroup-sizing-default"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg></span>
        <input type="text" value="@ViewBag.keyword" name="keyword" placeholder="Enter post title, content,..."
            class="form-control" />
        <button class="btn btn-primary" type="submit">Search</button>
    </form>

    @if (Model.Items is [])
    {
        <p class="text-center">No posts found.</p>
    }
    else
    {
        <table class="table table-hover">
            <thead>
                @foreach (var property in Model.Items.FirstOrDefault()?.GetType().GetProperties()!)
                {
                    <th>@property.Name</th>
                }
                <th></th>
                <th></th>
            </thead>

            <tbody class="posts_table_body">
                @foreach (var post in Model.Items)
                {
                    <tr>
                        @foreach (var property in post.GetType().GetProperties()!)
                        {
                            <td style="text-align: justify;">@property.GetValue(post)</td>
                        }
                        <td>
                            <button class="btn btn-primary" onclick="location.href='/Posts/@post.PostID'">Details</button>
                        </td>
                        <td>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/posts.js"></script>
